*, *:before, *:after {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: black;
  color: white;
}

h1 {
  color: white;
  font-size: 5em;
  text-transform: uppercase;
  padding: .1em .5em;
}

a {
  color: white;
  text-decoration: none;
}

